@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-fondo: #FEF3E2;
    --color1: #B3C8CF;
    --color2: #BED7DC;
    --color3: #F1EEDC;
    --color4: #E5DDC5;
    --fuente-inter: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-fondo);
    font-family: var(--fuente-inter);
    text-decoration: none;
}

.header__logo__alura {
    width: 100%;
    display: flex;
    justify-content:flex-start;
    padding: 4% 0% 0% 4%;
}

.imagen__logo__alura {
    width: 16%;
    height: 16%;
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.area__encriptador{
        justify-content: space-between;
        background-color: var(--color3); 
        row-gap: 5rem;     
        padding: 2rem;
        width: 100%;
        max-width: 100%;
        border-radius: 1rem;
       
}

.area__desencriptar {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 600px;
}

.contenedor__area__texto {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.caja__texto {
    border: 1px solid var(--color2);
    background-color: var(--color2);
    width: 100%;
    height: 100px;
    border-radius: 8px;
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: 400;
}

.aviso__encriptador {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.imagen__aviso__encriptador {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}

.texto__aviso__encriptador {
    font-size: 0.875rem;
    color: #495057;
}

.botones__encriptador {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}


.btn__encriptar {
    background-color: #0A3871;
    color: white;
    width: 80%;
    height: 50px;
    border-radius: 24px; 
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    border: none;
    

}

.btn__desencriptar {
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    width: 80%;
    height: 50px;
    border-radius: 24px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    border: none;
    
}

.contenedor__mono {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.mono__desencriptado {
    width: 60%;
   
}

.contenedor__parrafo {
    text-align: center;
    margin-bottom: 0.5rem;
}

.texto__error {
    font-size: 1.5rem;
    font-weight: 700;
    color: #343A40;
}

.texto__aviso__error {
    font-size: 1rem;
    color: #495057;
}

.contenedor__resultado {
    text-align: center;
    margin-bottom: 1.5rem;
}

.texto__resultado {
    font-size: 1.25rem;
    color: #495057;
}

.contenedor__copiar {
    text-align: center;
}

.btn__copiar {
    width: 80%;
    height: 50px;
    border-radius: 24px;
    background-color: #FFFFFF;
    color: #0A3871;
    border: 1px solid #0A3871;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

.footer__personal {
    background-color: var(--color1);
    color: black;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.oculto {
    display: none;
}
